{% extends 'template.back.html.twig' %}

{% block title %}{{ parent() }} | {{ title }} }}{% endblock %}
{% block header %}
    <h1>{{ title }}</h1>
    <p>{{ homepage_text }}</p>
{% endblock %}

{% block main %}

    {{ include('admin_post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_post_index') }}">back to list</a>

    {{ include('admin_post/_delete_form.html.twig') }}
{% endblock %}
